<div class="row tweet">
  <div class="user_name span6">
    <%= image_tag(tweet.owner_image, alt: tweet.owner_name, class: "pull-left tweet-gravatar") %>
    <span class="pull-right"><%= time_ago_in_words(tweet.created_at) %></span>
    <%= link_to tweet.owner_name, user_tweets_path(tweet.owner_name) %>
    <div><%= tweet.text %></div>
    <% if @user == current_user && current_page?(user_tweets_path) %>
      <%= link_to "delete tweet", tweet, :method => :delete, class: "btn btn-danger pull-right" %>
    <% end %>
  </div>
</div>
