<div class="span3">
  <div class="row">
    <%= link_to (image_tag(user.gravatar_url, alt: user.user_name, class: "tweet-gravatar")), user_tweets_path(user.user_name) %>
    <p><%= user.user_name %></p>
  <ul class="unstyled">
    <li><%= link_to "Tweets: #{user.tweets_count}", user_tweets_path(user.user_name) %></li>
    <li><%= link_to "Followers: #{user.followers_count}", followers_path(user.user_name) %></li>
    <li><%= link_to "Following: #{user.following_count}", following_path(user.user_name) %></li>
  </ul>
  <% if @users.length > 0 %>
    <p>here are the other users on the site:</p>
    <% @users.each do |user| %>
      <p><%= link_to "#{user.user_name}", user_tweets_path(user.user_name) %></p>
      <%= image_tag(user.gravatar_url, alt: user.user_name, class: "gravatar") %>
    <% end %>
  <% end %>
  </div>
</div>
