<div class="row">
  <div class="span2">
    <div class="row">
      <%= image_tag(current_user.gravatar_url, alt: current_user.user_name, class: "gravatar") %>
      <p><%= current_user.user_name %></p>
      <p>Tweets: <%= current_user.tweets_count %></p>
      <p>Followers: <%= current_user.followers_count %></p>
      <p>Following: <%= current_user.following_count %></p>
    </div>
    <div class="row">
      <p>here are the other users on the site:</p>
      <% @users.each do |user| %>
        <p><%= link_to "#{user.user_name}", user_tweets_path(user.user_name) %></p>
        <%= image_tag(user.gravatar_url, alt: user.user_name, class: "gravatar") %>
      <% end %>
    </div>
  </div>
  <div class="span10">

    <p>check out your <%= link_to "tweets", user_tweets_path(current_user.user_name) %></p>

    <% if @following_tweets.present? %>
      <% @following_tweets.each do |tweet| %>
        <%= render "tweets/tweet", tweet: tweet %>
      <% end %>
    <% else %>
      <p>try following one of these people!</p>
    <% end %>
  </div>
</div>
