<!DOCTYPE html>
<html>
<head>
  <title>Tclone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "Twabbler", root_path, class: "brand" %>
        <div class="nav-collapse">
        <ul class="nav">
        <% if user_signed_in? %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Your Tweets", user_tweets_path(current_user.user_name) %></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
          <%= link_to "post a tweet", "#tweetModal", role: "button", data: {toggle: "modal"}, class: "btn btn-primary" %>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
        <% end %>
        </ul>
        <div class="pull-right">
          <%= form_tag search_path, method: :get do %>
            <%= text_field_tag :user_name, params[:user_name] %>
            <%= submit_tag "Search" %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <% if flash[:notice] %>
    <p class="success"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
  <% end %>

  <%= yield %>
</div>

<!-- Modal -->
<div id="tweetModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render "tweets/new" %>
</div>
</body>
</html>
